<div class="message-block {{#unless other}}self{{/unless}}">
    {{#if url}}
    <img src={{url}} width={{width}} height={{height}}>
    {{else}}
    <div class="message">
    {{message}}
    </div>
    {{/if}}
</div>