<div {{#if other}}class="right-align"{{/if}}>
    {{#if other}}
    <h5>Other player</h5>
    {{else}}
    <h5>You</h5>
    {{/if}}
    {{#if url}}
    <img src={{url}} width={{width}} height={{height}}>
    {{else}}
    {{message}}
    {{/if}}
</div>